.details{
    background-color: green;
    color:white;
}
.objective{
    background-color: orange;
    color:white;

}
.education{
    background-color: yellow;
    color:white;
}
.Education{
    background-color: yellow;
    color:black;
}
.skills{
    background-color: purple;
    color:white;
    font-style:normal;
}
.declaration{
    background-color: blue;
    color:white;
    width=50px;
}

